a:hover {
	background-color: black;
	color: white;
}

.outer {
	height: 200px;
	width: 200px;
	margin: auto;
	border: 3px solid lightblue;
	background-color: blue;
}

.inner {
	height: 80px;
	width: 80px;
	margin: auto;
}